
.opt{
    width: 100%;
    padding-top:30px; 
    background: #fff;
    overflow: hidden;
    margin: 17px 0;
   
}
.opt .lbt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.opt .lbt img{
   border: 1px solid #eeeeee;
   width: 157px;
   height: 81px;
   
}
.xia{
    width: 100%;
    padding-top:30px; 
    background: #fff;
    overflow: hidden;
    text-align: center;
    margin: 50px 0px;
   
}
/* .Business .lbt img{
	margin: 0 0px;
} */
